//COLOR

$blue:        #3f4f9d;
$light-blue:  #9ad5e7;
$medium-blue: #23a1dc;
$white:       #ffffff;
$black:       #000000;
$light-grey:  #f8f9fa;

//FONTS

// $main-font: 'Lato-Regular', sans-serif;
// $secondary-font: 'patrickHand', sans-serif;

// @font-face {
//   font-family:   'ComicNeue';
//   font-style:    normal;
//   src: url("../fonts/ComicNeue-Angular-Regular.woff2") format("woff2"),
//       url("../fonts/ComicNeue-Angular-Regular.woff") format("woff");
//   font-display: swap;
// }


* { 
    box-sizing: border-box;
}

body {
    position: relative;
    height: 100%;
    margin: 0;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    margin: 0 auto;
    margin-top: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}
